POSTGRES_PASSWORD=CHANGE_ME_LONG_RANDOM_DB_PASSWORD

CORS_ORIGINS=https://yo-studios.com,https://www.yo-studios.com
TRUST_PROXY=true
JWT_ACCESS_SECRET=CHANGE_ME_LONG_RANDOM_JWT_SECRET_MIN_32_CHARS
JWT_ACCESS_TTL=15m
MFA_ENCRYPTION_KEY=CHANGE_ME_BASE64_32_BYTE_KEY
REFRESH_TOKEN_TTL_DAYS=30
COOKIE_DOMAIN=.yo-studios.com
LOG_LEVEL=info
ENABLE_SWAGGER=false
FRONTEND_URL=https://yo-studios.com

BUSINESS_NAME=YO STUDIOS
BUSINESS_TAX_ID=CHANGE_ME_ISRAEL_BUSINESS_ID
BUSINESS_ADDRESS=CHANGE_ME_BUSINESS_ADDRESS

MAIL_PROVIDER=console
MAIL_STRICT_DELIVERY=false
SES_REGION=
SES_FROM_EMAIL=
SES_FROM_NAME=YO STUDIOS
SES_REPLY_TO=
SES_CONFIGURATION_SET=

SUPER_ADMIN_EMAIL=admin@yo-studios.com
SUPER_ADMIN_PASSWORD=CHANGE_ME_SUPER_ADMIN_PASSWORD_MIN_18_CHARS

GROW_API_URL=
GROW_API_KEY=
GROW_WEBHOOK_SECRET=

R2_ACCESS_KEY_ID=CHANGE_ME_R2_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=CHANGE_ME_R2_SECRET_ACCESS_KEY
R2_BUCKET=yo-studios
R2_PUBLIC_URL=https://images.yo-studios.com
R2_ENDPOINT=https://1e8b83b831e14828408955f2d2390c3e.r2.cloudflarestorage.com
R2_OBJECT_PREFIX=
